*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.header__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header{
    padding: 20px 0;
}
.container{
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0  20px;
}
.header__list{
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: 
"Plus Jakarta Sans";
}
.header__list{
    display: flex;
    justify-content: center;
gap: 50px;

}


.header__link{
color: black;
text-decoration: none;
}
.text{
    background-color: white;
    width: 2000px;
    height: 400px;
        font-family: 
"Plus Jakarta Sans";
    gap: 40px;
        display: flex;
    justify-content: space-between;
    align-items: center;

}
.btn{
    background-color: #1AAB7B;
    width: 200px;
    height: 61px;
    color: white;
  
    
}



.video{
  background-color: white;  

}
.iframe{
    width: 700px;
    height: 400px;
}
.dir{
     display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  gap: 40px;
}

.section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box1{
    background-color: #1AAB7B;
    width: 384px ;
    height: 300px;
}
.ter{
    text-align: center;
    padding: 40px;
    color: white;

}
.white{
    color: white;
    text-align: center;
}
.box2{
    background-color: #F2F4F6;
    width: 400px ;
    height: 300px;
}
.te{
 text-align: center;
    padding: 40px;
    color:black;   
}
.black{
    text-align: center;
        font-family: 
"Plus Jakarta Sans";
}
.sect{
    display: flex;
    gap: 130px;
    padding: 70px;
    flex-wrap: wrap;
    margin-top: 70px;
box-sizing: border-box;
    font-family: 
"Plus Jakarta Sans";
}
.wer{
    text-align: center;
    color: black;
    margin-top: 80px;
        font-family: 
"Plus Jakarta Sans";
}
.main{
    background-color: #F2F4F6;

}
.ser{
    padding: 40px;
}
.img{
    padding: 70px;
}
.foot{
    background-color: black;
    width: 2030px;
    height: 210px;
}
.er{
    padding: 10px 2px;
}

.foot{
    padding: 30px;
    
    
    
}
.phic{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}




.bt{
     background-color: black;
    width: 150px;
    height: 51px;
    color: white;
    border-radius: 5px;
    margin: 100px;
}
.class{
    display: flex;
    gap: 20px;
}




